<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
Data in is a list of all the effects in List<Effect>.
The effect consists of:
    String EffectName = the effects name
    Map<Integer, EffectLevel> Levels = a map of the different levels
    Stats PrimaryStat = the primary stat to use
    Map<Stats, Integer> SecondaryStats = all of the extra starts that can be used and there costs to use
    List<Elements> Elements = a list of the elements associated

-->

<!--
Primary effect:
    The primary effect the user picked: String EffectName;
    the primary effects level: int Level
    A map of the cost distribution of the ki points and there stats: Map<Stats, Integer>

List<Secondary effects>:
    Same as above
-->

</body>
</html>